@page
@model Login
@{
    ViewData["Title"] = "Login";
}

@{
var usernameLabel = "Username "; 
var passwordLabel = "Password"; 
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <form method="post">
       <label>@usernameLabel</label>
       <input type="text" id="username" name="username"/> 
       <label>@passwordLabel</label>
       <input type="password" id="pass" name="password"/>
       <input type="submit" value="Submit" />
   </form>

   <h1>@Model.message</h1>
</div>
